/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Playfair Display", serif;
  background-color: #ffffff;
}

a {
  color: #2f2e2e;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  font-size: 20px;
}
a:hover {
  color: rgba(0, 0, 0, 0.484);
}

.header-top___menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
}
@media screen and (max-width: 999px) {
  .header-top___menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto;
  }
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 150px;
  margin-right: 10%;
}

.header-top___menu {
  margin: 2% 15% 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 999px) {
  .header-top___menu__nav {
    display: none;
    justify-self: end;
  }
}

.header-top___menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20%;
}
.header-top___menu__logo .header__nav-btn {
  margin-left: 100%;
}

.logo {
  font-family: "Barlow";
  font-size: 42px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.header-top {
  min-height: 927px;
}

.header-top___midle {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 5% 5% 0 5%;
}
@media screen and (max-width: 999px) {
  .header-top___midle {
    margin: 5% 0 0 0.2%;
    height: 520px;
  }
}
.header-top___midle .conntainer__best-solution {
  width: 691px;
  height: 550px;
  padding: 138px 155px 139px 100px;
  -o-object-fit: contain;
     object-fit: contain;
  background-image: linear-gradient(91deg, #f4f6f5 -8%, #fff 133%);
  top: 94.5px;
  position: absolute;
  z-index: 1;
}
@media screen and (max-width: 999px) {
  .header-top___midle .conntainer__best-solution {
    width: 420px;
    height: 420px;
    padding: 50px;
    -o-object-fit: contain;
       object-fit: contain;
    background-image: linear-gradient(91deg, #f4f6f5 -8%, #fff 133%);
    top: 47.25px;
    position: absolute;
    z-index: 1;
  }
}
.header-top___midle .header-top___midle__bg {
  width: 1150px;
  height: 739px;
  position: relative;
  left: 600px;
  z-index: 0;
}
@media screen and (max-width: 999px) {
  .header-top___midle .header-top___midle__bg {
    width: 79.8%;
    height: auto;
    position: relative;
    left: 200px;
    z-index: 0;
  }
}

.best-solution__text1 {
  width: 425px;
  height: 136px;
  margin: 0 11px 10px 0;
  font-family: PlayfairDisplay-Roman;
  font-size: 51px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}
@media screen and (max-width: 999px) {
  .best-solution__text1 {
    width: 212.5px;
    height: 68px;
    margin: 0 11px 10px 0;
    font-family: PlayfairDisplay-Roman;
    font-size: 35px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }
}

.best-solution__text2 {
  width: 436px;
  height: 127px;
  margin: 10px 0 0;
  font-family: Inter;
  font-size: 32px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}
@media screen and (max-width: 999px) {
  .best-solution__text2 {
    width: 218px;
    height: 63.5px;
    margin: 60px 0 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }
}

main {
  width: 100%;
}
main .Our-Services {
  height: 384px;
  padding: 16px 177px 65px 176px;
  margin-bottom: 76px;
  background-color: rgba(37, 77, 77, 0.2);
  min-width: 764px;
}
main .Our-Services .Our-Services__title {
  margin-left: auto;
  margin-right: auto;
  width: 309px;
  height: 68px;
}
main .Our-Services .Our-Services__title h1 {
  color: #2f2e2e;
  font-size: 51px;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
main .Our-Services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
}
main .Our-Services__container .Our-Services__container__el-1 {
  width: 157px;
  height: 190px;
}
main .Our-Services__container .Our-Services__container__el-1 .el-1__img {
  margin-left: 27.5px;
  width: 103px;
  height: 103px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
main .Our-Services__container .Our-Services__container__el-1 .el-1__img:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
main .Our-Services__container .Our-Services__container__el-1 .el-1__text {
  width: 158px;
  height: 87px;
}
main .Our-Services__container .Our-Services__container__el-1 .el-1__text h3 {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2f2e2e;
  margin-top: 9px;
}
main .Our-Services__container .Our-Services__container__el-1 .el-1__text h2 {
  font-size: 27px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2f2e2e;
}
main .Our-Services__container .Our-Services__container__el-2 {
  width: 157px;
  height: 190px;
}
main .Our-Services__container .Our-Services__container__el-2 .el-2__img {
  margin-left: 27.5px;
  width: 103px;
  height: 103px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
main .Our-Services__container .Our-Services__container__el-2 .el-2__img:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
main .Our-Services__container .Our-Services__container__el-2 .el-2__text {
  width: 158px;
  height: 87px;
}
main .Our-Services__container .Our-Services__container__el-2 .el-2__text h3 {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2f2e2e;
  margin-top: 9px;
}
main .Our-Services__container .Our-Services__container__el-2 .el-2__text h2 {
  font-size: 27px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2f2e2e;
}
main .Our-Services__container .Our-Services__container__el-3 {
  width: 157px;
  height: 190px;
}
main .Our-Services__container .Our-Services__container__el-3 .el-3__img {
  margin-left: 27.5px;
  width: 103px;
  height: 103px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
main .Our-Services__container .Our-Services__container__el-3 .el-3__img:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
main .Our-Services__container .Our-Services__container__el-3 .el-3__text {
  width: 158px;
  height: 87px;
}
main .Our-Services__container .Our-Services__container__el-3 .el-3__text h3 {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2f2e2e;
  margin-top: 9px;
}
main .Our-Services__container .Our-Services__container__el-3 .el-3__text h2 {
  font-size: 27px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2f2e2e;
}
main .About-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 0 auto;
  width: 100%;
  max-width: 1440px;
  height: 500px;
}
@media screen and (max-width: 999px) {
  main .About-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    width: 100%;
    max-width: 1440px;
    height: 500px;
  }
}
main .About-us .About-us__img {
  width: 735px;
  height: 571px;
}
main .About-us .About-us__left-container {
  width: 541px;
  height: auto;
  margin: 7% 0 5% 5%;
}
@media screen and (max-width: 999px) {
  main .About-us .About-us__left-container {
    width: 541px;
    height: auto;
    margin: 0;
    padding-left: 20px;
    padding-top: 50px;
  }
}
main .About-us .About-us__left-container .About-us__left-container-title h1 {
  font-size: 51px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2f2e2e;
}
@media screen and (max-width: 999px) {
  main .About-us .About-us__left-container .About-us__left-container-title h1 {
    font-size: 36px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f2e2e;
  }
}
main .About-us .About-us__left-container .About-us__left-container-text {
  margin-top: 27px;
}
main .About-us .About-us__left-container .About-us__left-container-text h2 {
  font-size: 31px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2f2e2e;
}
@media screen and (max-width: 999px) {
  main .About-us .About-us__left-container .About-us__left-container-text h2 {
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f2e2e;
  }
}
main .About-us .About-us__left-container .About-us__left-container-read_more {
  margin-top: 36px;
}
main .About-us .About-us__left-container .About-us__left-container-read_more .read_more {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2f2e2e;
}
main .Our-Projects-title {
  width: 1276px;
  height: 68px;
  margin: 150px auto 0 auto;
}
@media screen and (max-width: 999px) {
  main .Our-Projects-title {
    width: auto;
    text-align: center;
    height: auto;
    margin: 20px auto 60px auto;
  }
}
main .Our-Projects-title h1 {
  font-size: 51px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2f2e2e;
}
@media screen and (max-width: 999px) {
  main .Our-Projects-title h1 {
    width: 40%;
    font-size: 49px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2f2e2e;
    margin-left: 30%;
    margin-right: 30%;
  }
}
main .Our-Projects__container {
  height: 594px;
  width: 1276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 71px auto 0 auto;
  gap: 104px;
}
@media screen and (max-width: 999px) {
  main .Our-Projects__container {
    height: auto;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    gap: 50px;
  }
}
main .Our-Projects__container .Our-Projects__container__item1 .el-1__text {
  width: 178px;
  margin-left: 83px;
}
main .Our-Projects__container .Our-Projects__container__item1 .el-1__text h3 {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2f2e2e;
}
main .Our-Projects__container .Our-Projects__container__item2 .el-2__text {
  width: 178px;
  margin-left: 83px;
}
main .Our-Projects__container .Our-Projects__container__item2 .el-2__text h3 {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2f2e2e;
}
main .Our-Projects__container .Our-Projects__container__item3 .el-3__text {
  width: 178px;
  margin-left: 83px;
}
main .Our-Projects__container .Our-Projects__container__item3 .el-3__text h3 {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2f2e2e;
}
main .Our-Projects__container .Our-Projects__container__item4 .el-4__text {
  width: 178px;
  margin-left: 83px;
}
main .Our-Projects__container .Our-Projects__container__item4 .el-4__text h3 {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2f2e2e;
}
main .Our-Projects__container .Our-Projects__container__item5 .el-5__text {
  width: 178px;
  margin-left: 83px;
}
main .Our-Projects__container .Our-Projects__container__item5 .el-5__text h3 {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2f2e2e;
}
main .Our-Projects__container .Our-Projects__container__item6 .el-6__text {
  width: 178px;
  margin-left: 83px;
}
main .Our-Projects__container .Our-Projects__container__item6 .el-6__text h3 {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2f2e2e;
}
main .Testimonial__title {
  width: 287px;
  height: 68px;
  font-size: 51px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}
@media screen and (max-width: 999px) {
  main .Testimonial__title {
    width: 287px;
    height: 68px;
    font-size: 36px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
}
main .Testimonial__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 91px 100px 0 100px;
}
@media screen and (max-width: 999px) {
  main .Testimonial__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px auto 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 70px;
  }
}
main .Testimonial__container .author1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .Testimonial__container .author1 .container {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 29px;
}
main .Testimonial__container .author1 .container .author1-title {
  width: 363px;
  height: 37px;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2f2e2e;
}
main .Testimonial__container .author1 .container .author1-text {
  width: 307px;
  height: 69px;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2f2e2e;
  margin-top: 16px;
}
main .Testimonial__container .author2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .Testimonial__container .author2 .container {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 29px;
}
main .Testimonial__container .author2 .container .author2-title {
  width: 363px;
  height: 37px;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2f2e2e;
}
main .Testimonial__container .author2 .container .author2-text {
  width: 307px;
  height: 69px;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2f2e2e;
  margin-top: 16px;
}

footer {
  width: 100%;
  height: 369px;
  background-color: #2e2f32;
  margin-top: 150px;
}
@media screen and (max-width: 999px) {
  footer {
    width: auto;
    height: auto;
    background-color: #2e2f32;
    margin-top: 150px;
  }
}
footer .footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 47px;
  padding-left: 50px;
  padding-right: 50px;
  height: 369px;
  width: 100%;
}
@media screen and (max-width: 999px) {
  footer .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 47px;
    padding-left: 50px;
    padding-right: 50px;
    height: 369px;
    width: auto;
  }
}
footer .footer__left .item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  height: 220px;
}
@media screen and (max-width: 999px) {
  footer .footer__left .item-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 300px;
  }
}
footer .footer__left .item-1 .ArchiWeb-tittle {
  width: 180px;
  height: 50px;
  font-size: 42px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fafafa;
  font-family: Barlow;
}
footer .footer__left .item-1 .ArchiWeb-tittle__text {
  width: 287px;
  height: 93px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 7px 140px 95.9px 0;
  font-family: Inter;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #fafafa;
  margin-top: 7px;
}
footer .footer__left .item-1 .container__social-img {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25px;
  margin-bottom: 54px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
footer .footer__left .item-1 .container__social-img .img1 {
  width: 24px;
  height: 24px;
}
footer .footer__left .item-1 .container__social-img .img1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
footer .footer__left .item-1 .container__social-img .img2 {
  width: 24px;
  height: 24px;
}
footer .footer__left .item-1 .container__social-img .img2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
footer .footer__left .item-1 .container__social-img .img3 {
  width: 24px;
  height: 24px;
}
footer .footer__left .item-1 .container__social-img .img3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
footer .footer__left .item-2 {
  height: 250px;
  width: auto;
}
@media screen and (max-width: 999px) {
  footer .footer__left .item-2 {
    height: auto;
    width: 300px;
  }
}
footer .footer__left .item-2 .Articles-tittle {
  width: 98px;
  height: 29px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 10px 421px 18px 140px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fafafa;
}
footer .footer__left .item-2 .ArchiWeb-tittle__text {
  width: 201px;
  height: 145px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 7px 318px 43.9px 140px;
  font-family: Inter;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #fafafa;
}
@media screen and (max-width: 999px) {
  footer .footer__left .item-2 .ArchiWeb-tittle__text {
    width: 150px;
    height: 145px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin: 7px 318px 43.9px 140px;
    font-family: Inter;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: #fafafa;
  }
}
footer .footer__left .footer-iframe {
  width: auto;
}
@media screen and (max-width: 999px) {
  footer .footer__left .footer-iframe {
    left: 0;
  }
}
footer .footer__left .footer-iframe h2 {
  width: 105px;
  height: 29px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 10px 190px 18px 0px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fafafa;
}
@media screen and (max-width: 999px) {
  footer .footer__left .footer-iframe h2 {
    width: 105px;
    height: 29px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin: 10px 0 20px 32px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fafafa;
  }
}
footer .footer__left .footer-iframe iframe {
  margin-left: 0;
}
@media screen and (max-width: 999px) {
  footer .footer__left .footer-iframe iframe {
    margin-left: 30px;
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #254e44;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  display: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.back-to-top:hover {
  background: #36584f;
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 999px) {
  .header__nav-btn {
    display: block;
    position: relative;
    padding: 2px 15px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(46, 68, 68);
    background: #ffffff;
    border: 2px solid rgb(46, 68, 68);
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: color 0.4s ease, -webkit-box-shadow 0.4s ease;
    transition: color 0.4s ease, -webkit-box-shadow 0.4s ease;
    transition: color 0.4s ease, box-shadow 0.4s ease;
    transition: color 0.4s ease, box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
    overflow: hidden;
  }
  .header__nav-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(0, 120, 215, 0.15);
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    z-index: -1;
  }
  .header__nav-btn:hover::before {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  .header__nav-btn:active {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) inset;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) inset;
  }
}

.vertical-menu {
  display: none;
}
@media screen and (max-width: 999px) {
  .vertical-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(15, 30, 26, 0.1019607843);
    overflow: auto;
    -webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    z-index: 1;
  }
  .vertical-menu.hidden {
    -webkit-transform: translateX(220px);
            transform: translateX(220px);
  }
  .vertical-menu a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    border-bottom: 1px solid #444;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .vertical-menu a:last-child {
    border-bottom: none;
  }
  .vertical-menu a:hover {
    background-color: rgba(87, 87, 87, 0.5490196078);
  }
  .vertical-menu a.active {
    background-color: rgba(21, 80, 53, 0.777);
    color: white;
  }
  .vertical-menu .header-top___midle__bg {
    z-index: 0;
  }
}