
.header-top {
    min-height: 927px;
    

}



.header-top___midle{
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 5% 5% 0 5%;
  



  .conntainer__best-solution {
    width: 691px;
    height: 550px;
    padding: 138px 155px 139px 100px;
    object-fit: contain;
    background-image: linear-gradient(91deg, #f4f6f5 -8%, #fff 133%);
    top: 94.5px;
    position: absolute;
    z-index: 1;
    
    
  }

  .header-top___midle__bg{
    width: 1150px;
    height: 739px;
    position: relative;
    left: 600px;
    z-index: 0;
    
 }
}



  
  .best-solution__text1 {
    width: 425px;
    height: 136px;
    margin: 0 11px 10px 0;
    font-family: PlayfairDisplay-Roman;
    font-size: 51px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left
  }
  
  .best-solution__text2 {
    width: 436px;
    height: 127px;
    margin: 10px 0 0;
    font-family: Inter;
    font-size: 32px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left
  }
  
  
