.header-top___menu{
    display: flex;
    justify-content: space-between;
    width: 1245px;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.header-top___menu {
    margin: 2% 15% 0 15%;
    display: flex;
    align-items: center;
}

.header-top___menu__nav{
   
    @media screen and (max-width: 999px){
        display: none;
        justify-self: end;
   }


}

.header__nav-btn {
   display: none;

   @media screen and (max-width: 999px){
        display: block;
        
        
        
   }
}

.header-top___menu__logo{
    display: flex;
    align-items: center;
    
    .header__nav-btn{
        margin-left: 100%;
    }
}



.logo{
    
font-family: "Barlow";
  font-size: 42px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}



