.header-top___menu{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.header-top___menu {
    margin: 2% 15% 0 15%;
}

.header-top___menu{
    display: flex;
    align-items: center;
}

.logo{
    
font-family: "Barlow";
  font-size: 42px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}



