//Fonts

$font-main: "Playfair Display", serif;
$font-accent: "Inter", serif;


//Colors

$white : #ffffff;
$accent: #000000;
$text: #2f2e2e;
$our-services-bg: #254d4d33 20%;
$best-solution-bg: #f4f6f5;
$footer-bg: #2e2f32;

